body{

background:#121212;

color:white;

font-family:Arial;

padding:20px;
}

.card{

background:#1e1e1e;

padding:20px;

margin:20px;

border-radius:10px;

box-shadow:0 0 10px rgba(255,255,255,0.1);
}
